In [1]:
import pandas as pd
import numpy as np

In [3]:
animals = ['Tiger', 'Panda', 'Humming Bird']
ani = pd.Series(animals)

# automatically types data into an Object type

In [9]:
num = [1, 2, 3]
pd.Series(num)

0    1
1    2
2    3
dtype: int64

# how they deal with missing data is also important

In [13]:
animals = ['Tiger', 'Panda', None]
ani = pd.Series(animals)
ani

0    Tiger
1    Panda
2     None
dtype: object

In [14]:
num = [1, 2, None]
pd.Series(num)

0    1.0
1    2.0
2    NaN
dtype: float64

In [17]:
d = {'A': 'Jees', 'B': 'Charles'}
s = pd.Series(d)
s.index

Index(['A', 'B'], dtype='object')

# Querying Data Series

In [18]:
s.iloc[0]
s.loc['A']
# both gives you the answer but we have to mention this explicitly why is the reason given below

'Jees'

In [23]:
s[0]
s['A']
# both of the gives the same exact results however when you conisider a case in which the list itself was an integer 
d = {0: 'Jees', 1: 'Charles'}
# then its hard for pandas to get some idea about what really is zero 
# to help that we need to mention that its 'iloc' and 'loc'

In [33]:
s = pd.Series(np.random.randint(0, 1000, 100000))

In [34]:
%%timeit -n 100
summer = 0
for each in s:
    summer += each

100 loops, best of 3: 121 ms per loop

In [35]:
%%timeit -n 100
summer = np.sum(s)

100 loops, best of 3: 890 Âµs per loop

## you can see the improvements in orders of magnitude

In [36]:
# this is called vectorization

In [38]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [39]:
s.loc['Jees'] = 'Augustine'

In [40]:
s

0               1
1               2
2               3
Jees    Augustine
dtype: object

In [42]:
original_sports = pd.Series({'Archery': 'Bhutan',
                            'Golf': 'Scotland',
                            'Sumo': 'Japan'})
cricket = pd.Series(['Australia', 'India', 'Pakisthan'],
                     index = ['Cricket',
                              'Cricket',
                              'Cricket'])
# look at how we have provided the values of the indexes. and how similar they are yet dont have any problems

In [45]:
# we are tyring to append these values together. Lets see what happens

In [46]:
all_ = original_sports.append(cricket)

In [47]:
all_

Archery       Bhutan
Golf        Scotland
Sumo           Japan
Cricket    Australia
Cricket        India
Cricket    Pakisthan
dtype: object

In [48]:
original_sports

Archery      Bhutan
Golf       Scotland
Sumo          Japan
dtype: object

In [49]:
all_['Cricket']

Cricket    Australia
Cricket        India
Cricket    Pakisthan
dtype: object

# DATA FRAMES in Pandas

In [50]:
a = pd.Series({'Name': 'Jees', 'Age': 29, 'Nationality': 'India'})
b = pd.Series({'Name': 'Charles', 'Age': 34, 'Nationality': 'India'})
c = pd.Series({'Name': 'Emmanuel', 'Age': 4, 'Nationality': 'United States'})

In [51]:
new_frame = pd.DataFrame([a, b, c], index = ['Store 1', 'Store 2', 'Store 3'])

In [53]:
new_frame.head()

         Age      Name    Nationality
Store 1   29      Jees          India
Store 2   34   Charles          India
Store 3    4  Emmanuel  United States